
#TabMemb { background-color:#BEBEBE;
}

#CodMemb {
    text-align: center;
    width: 30px;
}

body{
    background-color:gray;
}

td{
    text-align:center;
}

table {
   grid-column-align:center;
}


#tit{
    align-items:center;
    background-color:gray;
    font-family:Arial;
    font-size:20px;
    font-size-adjust:initial;
    text-align:center;
}